* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
}

th {
    text-align: left;
}

#test {
    border: 1px solid black;
    padding: 20px;
}

#test h3 {
    margin-top: 0;
}

#questions td>.control,
#personal-info td>.control {
    display: flex;
    justify-content: space-between;
}

#questions td>.control>button:last-child,
#personal-info td>.control>button:last-child {
    margin-left: auto;
}
